body{
  background-color: #c7d62e;
  font-family: serif;
}

.box{
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

.informationLeft{
  word-break: normal;
  width: 89%;
  text-align: justify;
  margin-top: 12%;
  font-size: 22px;
  word-spacing: 2px;
}

.informationRight{
  word-break: normal;
  width: 80%;
  text-align: justify;
  margin-top: 12%;
  font-size: 22px;
  word-spacing: 2px;
  margin-left: 11%;
}

.telemetry{
  transition: 1s;
}

.row{
  width: 100%;
}

.rpm{
  margin-top: 6%;
}
